body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.toolbar {
    margin-top: 10px;
}

.toolbar button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.toolbar button:hover {
    background-color: #0056b3;
}

.toolbar button:active {
    background-color: #003c80;
}

#posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    width: 300px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px; /* Aggiunto margine per centrare i post */
}

.post h2 {
    font-size: 18px;
    margin: 0;
}

.post p {
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post img {
    max-width: 100%;
    height: auto;
    display: block; /* Risolve il problema della dimensione sottile */
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    border-radius: 5px;
}
